/* <!-- <<<<====header style starts here=====>>> --> */

header {
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 0 rgb(63, 63, 63);
  z-index: 2;
  max-height: 150px;
}
.container-fluid {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
}

.top-section,
.bottom-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 50px;
}
.logo:hover {
  cursor: pointer;
}
.logo > img {
  width: 100%;
  height: 100%;
}

.top-left-section {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.top-left-section > input {
  width: 300px;
  height: 27px;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border: 0.5px solid grey;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border-right: none;
}
.fa-search {
  border: 0.5px solid grey;
  height: 27px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  margin-left: -80px;
  border-left: none;
  padding-right: 0.4rem;
}
.fa-search:hover {
  cursor: pointer;
}
.top-right-section {
  width: 60%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: flex-end;
}
.hr {
  width: 100%;
  background-color: grey;
  height: 1px;
}
.login-btn {
  width: 130px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: coral;
  color: white;
}
.lang-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  margin-right: 0.9rem;
}
.lang-profile > select {
  border-radius: 2px;
  font-size: 0.6rem;
  border: none;
  background: none;
  text-decoration: underline;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  width: 69%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.link:hover {
  border-top: 2px solid red;
}
.drop-down {
  position: absolute;
  width: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px rgb(189, 189, 189);
  border-radius: 5px;
  top: -400px;
  z-index: 5;
}
.drop-down > li {
  background-color: rgb(247, 247, 247);
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.drop-down:hover {
  cursor: pointer;
}
.drop-down > li:hover {
  background-color: rgb(236, 236, 236);
}

.location {
  display: flex;
  width: 110px;
  height: 100%;
  align-items: center;
  justify-content: space-around;

  color: grey;
}
.location:hover {
  cursor: pointer;
}
/* <!-- <<<<====header style ends here=====>>> --> */
